
body {
        font-family: Baskerville,serif;
        background-color: #dfd0d0af;
        margin: 30px;
    }
h1 {
    color: #504043;
    text-align:center;
}
h2 {
        color: #2d2626;
        font-size: 45px;
    }
    P {
        font-size: 30px;
        line-height: 1.2;
        color:#494848
    }
    h3{
        color: #2d2626;
        font-size: 35px;
    
    }
    h4 {
        color: #2d2626;
        font-size: 35px;
    }
    li {
        font-size: 20px;
        margin-bottom: 10px;
        border-style: outset; border-width: 2px;
        padding: 5px;
    }
    img {
        border-radius: 15px;
        border: 5px solid #312323;
    }
div{background-color: #d4b1b1d4;
    border: 4px solid #312323;
    padding: 30px;
}
.highlight {
    background-color: #ecdede;
    padding: 2px;
    border: 1px solid #312323;
    font-size: 19px;
    
}
#page-title {
    color: #504043;
    font-size: 70px;
    text-align: center;
}
#poem {
    background-color: #bdbbd9d4;
    border: 4px solid #312323;
    padding: 25px;
}
#hobbies {
    background-color: #ddc7d1d4;
    border: 4px solid #312323;
    padding: 10px;
}