
body {
        font-family: Baskerville,serif;
        background-color: #d4b1b1d4;
        margin: 30px;
    }
h1 {
    color: #cf7c7c;
    font-size: 50px;
    text-align:center;
}
h2 {
        color: #2d2626;
        font-size: 30px;
    }
    P {
        font-size: 18px;
        line-height: 1.2;
    }
    li {
        font-size: 15px;
        margin-bottom: 10px;
    }
    img {
        border-radius: 15px;
        border: 5px solid #757a8d;
    }

