
body {
        font-family: Baskerville,serif;
        background-color: #e1c6c6d4;
        margin: 30px;
    }
h1 {
    color: #504043;
    font-size: 50px;
    text-align:center;
    border-top: 5px solid #414244;
}
h2 {
        color: #2d2626;
        font-size: 30px;
    }
    P {
        font-size: 18px;
        line-height: 1.2;
        color:#494848
    }
    li {
        font-size: 20px;
        margin-bottom: 10px;
        border-style: outset; border-width: 2px;
        padding: 5px;
    }
    img {
        border-radius: 15px;
        border: 8px solid #3b3e47;
    }

